@using ToDoApp.Data
@model Taskk
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post">
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control labels" placeholder="" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
@*    <div class="form-group">
        <label asp-for="Importance">Status</label>
        <select asp-for="Importance" asp-items="@Html.GetEnumSelectList<ImportantCategory>()" class="form-control form-control-lg labels"></select>
        <span asp-validation-for="Importance" class="text-danger"></span>
    </div>*@
    <div class="form-group mt-3">
        <label>Starting time</label>
        <input id="fromtime" type="time" name="FromTime" />
    </div>
    <div class="form-group mt-3">
        <label>Ending time</label>
        <input id="totime" type="time" name="ToTime" />
    </div>
    <br/>

    <button type="submit" class="btn btn-primary">Add</button>
    <a asp-controller="Taskk" asp-action="Index" class="btn btn-warning">
        Back to Tasks
    </a>
</form>