@using ToDoApp.Data
@model Taskk
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" asp-action="DeleteTASK">
    <input asp-for="Id" hidden />
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" disabled class="form-control labels" />
    </div>
    <div class="form-group">
        <label asp-for="Importance">Status</label>
        <select asp-for="Importance" asp-items="@Html.GetEnumSelectList<ImportantCategory>()" disabled class="form-control form-control-lg labels"></select>
    </div>
    <div class="form-group mt-3">
        <label>Starting time</label>
        <input id="fromtime" type="time" name="FromTime" />
    </div>
    <div class="form-group mt-3">
        <label>Ending time</label>
        <input id="totime" type="time" name="ToTime" />
    </div>
    <br/>

    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-controller="Taskk" asp-action="Index" class="btn btn-warning">
        Back to Tasks
    </a>
</form>